* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

:root {
  --error-color: rgb(255, 0, 0);
  --button-color: #20ed00;
  --button-hover: #18b700;
  --input-color: #e1e1e1;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 500px;
}

input {
  width: 230px;
  height: 40px;
  border: none;
  border-radius: 10px;
  padding: 8px;
  outline: none;
  background-color: var(--input-color);
}

button {
  width: 230px;
  height: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: var(--button-color);
}

button:hover {
  background-color: var(--button-hover);
  transform: translateY(-2px);
}

.error {
  border: 1px solid var(--error-color);
}
